<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- No permissions yet. Each one is added by the feature that needs it
         (RECEIVE_SMS for F5, READ_SMS for F8, SEND_SMS for F11, ...). -->

    <application
        android:name=".LindaApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Linda">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Linda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
